h1{
    background: #000;
    color: orange;
    text-align: center;
    padding: 8px;
}
.link img{
    width: 100%;
}
a:hover{
    background: teal;
    color: orange;
    padding: 10px;
}
a{
    margin: 20px;
}